In [1]:
import pandas as pd
import numpy as np

from glob import glob

In [2]:
obdir = '/uufs/chpc.utah.edu/common/home/steenburgh-group10/mewessler/observations/'

In [3]:
flist = glob(obdir + 'clean/*.pd')
print(flist)

['/uufs/chpc.utah.edu/common/home/steenburgh-group10/mewessler/observations/clean/CLN_1999_2019.pd']

In [4]:
obs = []

for f in flist:
    site = f.split('/')[-1].split('_')[0]
    df = pd.read_pickle(f)
    df['site'] = np.full(df.index.size, fill_value=site, dtype='U10')
    obs.append(df.set_index([df.index, 'site']).sort_index())

obs = pd.concat(obs).sort_index()
obs[-25:]

,,swe_mm,snow_mm,slr,swe_auto_mm,snow_auto_mm,tsfc_max_c,precip_periods
time,site,,,,,,,
2019-04-19 04:00:00,CLN,0,0,NaN,0.000,2.540000,10.00,[]
2019-04-19 16:00:00,CLN,0,0,NaN,0.000,0.000000,6.67,[]
2019-04-20 04:00:00,CLN,0,0,NaN,0.000,0.000000,12.22,[]
2019-04-20 16:00:00,CLN,0,0,NaN,0.000,0.000000,7.22,[]
2019-04-21 04:00:00,CLN,5.588,25.4,4.54545,1.270,0.000000,9.44,[]
2019-04-21 16:00:00,CLN,2.794,25.4,9.09091,4.572,5.080000,2.22,"[2019-04-21T09:00:00.000000000, 2019-04-21T10:..."
2019-04-22 04:00:00,CLN,0.762,0,0,2.794,0.000000,5.00,[]
2019-04-22 16:00:00,CLN,2.032,0,0,0.000,0.000000,2.78,[]
2019-04-23 04:00:00,CLN,0,0,NaN,1.270,0.000000,7.22,[]
2019-04-23 16:00:00,CLN,0,0,NaN,0.000,0.000000,3.89,[]
2019-04-24 04:00:00,CLN,0,0,NaN,0.000,0.000000,9.44,[]
2019-04-24 16:00:00,CLN,0,0,NaN,0.000,0.000000,4.44,[]
2019-04-25 04:00:00,CLN,1.27,0,0,1.270,0.000000,11.67,[]
2019-04-25 16:00:00,CLN,0,0,NaN,0.000,0.000000,5.56,[]
2019-04-26 04:00:00,CLN,0,0,NaN,0.000,0.000000,11.67,[]
2019-04-26 16:00:00,CLN,2.032,0,0,0.000,0.000000,7.78,[]
2019-04-27 04:00:00,CLN,6.35,0,0,8.382,0.000000,10.56,[]
2019-04-27 16:00:00,CLN,0,0,NaN,0.000,0.000000,3.33,[]
2019-04-28 04:00:00,CLN,0,0,NaN,0.000,0.000000,8.89,[]
2019-04-28 16:00:00,CLN,0,0,NaN,0.000,0.000000,2.78,[]
2019-04-29 04:00:00,CLN,0,0,NaN,0.000,0.000000,5.00,[]
2019-04-29 16:00:00,CLN,0,0,NaN,0.000,0.000000,1.67,[]
2019-04-30 04:00:00,CLN,1.016,12.7,12.5,0.000,0.000000,4.44,[]
2019-04-30 16:00:00,CLN,4.826,38.1,7.89474,0.762,0.000000,0.00,[]
2019-05-01 04:00:00,CLN,17.78,165.1,9.28571,17.018,73.659996,1.67,"[2019-04-30T20:00:00.000000000, 2019-04-30T21:..."

In [5]:
obs.to_pickle(obdir + 'aggregate/WESTUS_ALL.pd')