In [1]:
import pandas as pd
import numpy as np

from glob import glob
from datetime import datetime

In [2]:
obdir = '/uufs/chpc.utah.edu/common/home/steenburgh-group10/mewessler/observations/'

In [3]:
flist = glob(obdir + 'clean/*.pd')
for f in flist:
    print(f)

/uufs/chpc.utah.edu/common/home/steenburgh-group10/mewessler/observations/clean/CLN_1999_2019.pd
/uufs/chpc.utah.edu/common/home/steenburgh-group10/mewessler/observations/clean/ALTA_1944_2020.pd
/uufs/chpc.utah.edu/common/home/steenburgh-group10/mewessler/observations/clean/AGD_2004_2019.pd

In [4]:
obs = []

for f in flist:
    site = f.split('/')[-1].split('_')[0]
    df = pd.read_pickle(f)
    df['site'] = np.full(df.index.size, fill_value=site, dtype='U10')
    
    # We can put these back later 
    df = df.drop(columns=[k for k in df.keys() if ('auto' in k)|('depth' in k)])
    
    obs.append(df.set_index([df.index, 'site']).sort_index())

obs = pd.concat(obs, sort=True).sort_index()

# We can put these back later 
periods = pd.DataFrame(obs.pop('precip_periods'))
obs.insert(obs.shape[1], 'precip_periods', periods)

print(obs.shape)
obs[-1020:-1000]

(40529, 11)

,,slr12,slr24,snow12_mm,snow24_mm,swe12_mm,swe24_mm,tsfc_degC,tsfc_max_c,tsfc_max_degC,tsfc_min_degC,precip_periods
time,site,,,,,,,,,,,
2019-01-03 11:00:00,ALTA,NaN,NaN,NaN,0.000000,NaN,0.000000,-3.33,NaN,4.44,-9.44,[]
2019-01-03 16:00:00,CLN,NaN,NaN,0,NaN,0,NaN,NaN,-5.00,NaN,NaN,[]
2019-01-03 23:00:00,AGD,NaN,NaN,0,0.000000,0,0.000000,NaN,NaN,-4.44,-5.00,[]
2019-01-04 04:00:00,CLN,NaN,NaN,0,NaN,0,NaN,NaN,-1.11,NaN,NaN,[]
2019-01-04 09:00:00,AGD,NaN,NaN,0,0.000000,0,0.000000,NaN,NaN,7.78,-5.00,[]
2019-01-04 11:00:00,ALTA,NaN,NaN,NaN,0.000000,NaN,0.000000,0.56,NaN,8.89,-5.56,[]
2019-01-04 16:00:00,CLN,NaN,NaN,0,NaN,0,NaN,NaN,-2.22,NaN,NaN,[]
2019-01-04 23:00:00,AGD,NaN,NaN,0,0.000000,0,0.000000,NaN,NaN,1.67,-2.22,[]
2019-01-05 04:00:00,CLN,NaN,NaN,0,NaN,0,NaN,NaN,2.78,NaN,NaN,[]
2019-01-05 09:00:00,AGD,NaN,NaN,0,0.000000,0,0.000000,NaN,NaN,4.44,-1.11,[]
2019-01-05 11:00:00,ALTA,NaN,NaN,NaN,0.000000,NaN,0.000000,1.67,NaN,4.44,-2.78,[]
2019-01-05 16:00:00,CLN,NaN,NaN,0,NaN,0,NaN,NaN,-1.67,NaN,NaN,[]
2019-01-05 21:00:00,AGD,0,0.000000,0,0.000000,2.03,2.030000,NaN,NaN,1.67,-4.44,[]
2019-01-06 04:00:00,CLN,13.8889,NaN,63.5,NaN,4.572,NaN,NaN,0.56,NaN,NaN,[]
2019-01-06 10:00:00,AGD,15.3074,15.307353,381,381.000000,24.89,24.889999,NaN,NaN,-3.89,-7.22,[]
2019-01-06 11:00:00,ALTA,NaN,14.839966,NaN,350.520000,NaN,23.620000,-8.33,NaN,1.67,-8.33,[]
2019-01-06 16:00:00,CLN,14.9573,NaN,444.5,NaN,29.718,NaN,NaN,-3.89,NaN,NaN,"[2019-01-06T08:00:00.000000000, 2019-01-06T09:..."
2019-01-06 21:00:00,AGD,16.6667,15.384615,127,508.000000,7.62,33.020000,NaN,NaN,-6.67,-10.00,[]
2019-01-07 04:00:00,CLN,16,NaN,101.6,NaN,6.35,NaN,NaN,-6.67,NaN,NaN,"[2019-01-06T16:00:00.000000000, 2019-01-06T17:..."
2019-01-07 10:00:00,AGD,7.44556,11.010464,88.9,220.979996,11.94,20.070000,NaN,NaN,-3.89,-6.67,[]

In [5]:
obs.to_pickle(obdir + 'aggregate/WESTUS_ALL.uncut.pd')

In [6]:
# Note the ERA5 starts in 1980 - cut there
obs_cut = obs[obs.index.get_level_values(0) > datetime(1980, 1, 1, 0, 0)]

print(obs_cut.shape)
obs_cut[-1020:-1000]

(33133, 11)

,,slr12,slr24,snow12_mm,snow24_mm,swe12_mm,swe24_mm,tsfc_degC,tsfc_max_c,tsfc_max_degC,tsfc_min_degC,precip_periods
time,site,,,,,,,,,,,
2019-01-03 11:00:00,ALTA,NaN,NaN,NaN,0.000000,NaN,0.000000,-3.33,NaN,4.44,-9.44,[]
2019-01-03 16:00:00,CLN,NaN,NaN,0,NaN,0,NaN,NaN,-5.00,NaN,NaN,[]
2019-01-03 23:00:00,AGD,NaN,NaN,0,0.000000,0,0.000000,NaN,NaN,-4.44,-5.00,[]
2019-01-04 04:00:00,CLN,NaN,NaN,0,NaN,0,NaN,NaN,-1.11,NaN,NaN,[]
2019-01-04 09:00:00,AGD,NaN,NaN,0,0.000000,0,0.000000,NaN,NaN,7.78,-5.00,[]
2019-01-04 11:00:00,ALTA,NaN,NaN,NaN,0.000000,NaN,0.000000,0.56,NaN,8.89,-5.56,[]
2019-01-04 16:00:00,CLN,NaN,NaN,0,NaN,0,NaN,NaN,-2.22,NaN,NaN,[]
2019-01-04 23:00:00,AGD,NaN,NaN,0,0.000000,0,0.000000,NaN,NaN,1.67,-2.22,[]
2019-01-05 04:00:00,CLN,NaN,NaN,0,NaN,0,NaN,NaN,2.78,NaN,NaN,[]
2019-01-05 09:00:00,AGD,NaN,NaN,0,0.000000,0,0.000000,NaN,NaN,4.44,-1.11,[]
2019-01-05 11:00:00,ALTA,NaN,NaN,NaN,0.000000,NaN,0.000000,1.67,NaN,4.44,-2.78,[]
2019-01-05 16:00:00,CLN,NaN,NaN,0,NaN,0,NaN,NaN,-1.67,NaN,NaN,[]
2019-01-05 21:00:00,AGD,0,0.000000,0,0.000000,2.03,2.030000,NaN,NaN,1.67,-4.44,[]
2019-01-06 04:00:00,CLN,13.8889,NaN,63.5,NaN,4.572,NaN,NaN,0.56,NaN,NaN,[]
2019-01-06 10:00:00,AGD,15.3074,15.307353,381,381.000000,24.89,24.889999,NaN,NaN,-3.89,-7.22,[]
2019-01-06 11:00:00,ALTA,NaN,14.839966,NaN,350.520000,NaN,23.620000,-8.33,NaN,1.67,-8.33,[]
2019-01-06 16:00:00,CLN,14.9573,NaN,444.5,NaN,29.718,NaN,NaN,-3.89,NaN,NaN,"[2019-01-06T08:00:00.000000000, 2019-01-06T09:..."
2019-01-06 21:00:00,AGD,16.6667,15.384615,127,508.000000,7.62,33.020000,NaN,NaN,-6.67,-10.00,[]
2019-01-07 04:00:00,CLN,16,NaN,101.6,NaN,6.35,NaN,NaN,-6.67,NaN,NaN,"[2019-01-06T16:00:00.000000000, 2019-01-06T17:..."
2019-01-07 10:00:00,AGD,7.44556,11.010464,88.9,220.979996,11.94,20.070000,NaN,NaN,-3.89,-6.67,[]

In [7]:
obs_cut.to_pickle(obdir + 'aggregate/WESTUS_ALL.pd')