In [3]:
import pandas as pd
import numpy as np

from glob import glob

In [2]:
obdir = '/uufs/chpc.utah.edu/common/home/steenburgh-group10/mewessler/observations/'

In [7]:
flist = glob(obdir + 'clean/*.pd')
print(flist)

['/uufs/chpc.utah.edu/common/home/steenburgh-group10/mewessler/observations/clean/CLN_1999_2019.pd']

In [17]:
obs = []

for f in flist:
    site = f.split('/')[-1].split('_')[0]
    df = pd.read_pickle(f)
    df['site'] = np.full(df.index.size, fill_value=site, dtype='U10')
    obs.append(df.set_index([df.index, 'site']).sort_index())

obs[0]

,,swe_mm,snow_mm,swe_auto_mm,snow_auto_mm,precip_periods
time,site,,,,,
1999-11-01 16:00:00,CLN,0,0,0.000,0.000000,[]
1999-11-02 04:00:00,CLN,0,0,0.000,0.000000,[]
1999-11-02 16:00:00,CLN,0,0,0.000,0.000000,[]
1999-11-03 04:00:00,CLN,0,0,0.000,0.000000,[]
1999-11-03 16:00:00,CLN,0,0,0.000,0.000000,[]
1999-11-04 04:00:00,CLN,0,0,0.000,0.000000,[]
1999-11-04 16:00:00,CLN,0,0,0.000,0.000000,[]
1999-11-05 04:00:00,CLN,0,0,0.000,0.000000,[]
1999-11-05 16:00:00,CLN,0,0,0.000,0.000000,[]
1999-11-06 04:00:00,CLN,0,0,0.000,0.000000,[]
1999-11-06 16:00:00,CLN,0,0,0.000,0.000000,[]
1999-11-07 04:00:00,CLN,0,0,0.000,0.000000,[]
1999-11-07 16:00:00,CLN,0,0,0.000,0.000000,[]
1999-11-08 04:00:00,CLN,0,0,0.000,0.000000,[]
1999-11-08 16:00:00,CLN,0,0,0.000,0.000000,[]
1999-11-09 04:00:00,CLN,10.668,101.6,4.318,0.000000,[]
1999-11-09 16:00:00,CLN,0,0,6.350,0.000000,[]
1999-11-10 04:00:00,CLN,0,0,0.000,0.000000,[]
1999-11-10 16:00:00,CLN,0,0,0.000,0.000000,[]
1999-11-11 04:00:00,CLN,0,0,0.000,0.000000,[]
1999-11-11 16:00:00,CLN,0,0,0.000,0.000000,[]
1999-11-12 04:00:00,CLN,0,0,0.000,0.000000,[]
1999-11-12 16:00:00,CLN,0,0,0.000,0.000000,[]
1999-11-13 04:00:00,CLN,0,0,0.000,0.000000,[]
1999-11-13 16:00:00,CLN,0,0,0.000,0.000000,[]
1999-11-14 04:00:00,CLN,0,0,0.000,0.000000,[]
1999-11-14 16:00:00,CLN,0,0,0.000,0.000000,[]
1999-11-15 04:00:00,CLN,0,0,0.000,0.000000,[]
1999-11-15 16:00:00,CLN,0,0,0.000,0.000000,[]
1999-11-16 04:00:00,CLN,0,0,0.000,0.000000,[]
...,...,...,...,...,...,...
2019-04-16 16:00:00,CLN,20.066,177.8,18.542,88.900002,"[2019-04-16T04:00:00.000000000, 2019-04-16T05:..."
2019-04-17 04:00:00,CLN,3.302,25.4,10.922,116.840004,"[2019-04-16T16:00:00.000000000, 2019-04-16T17:..."
2019-04-17 16:00:00,CLN,0,0,0.000,33.020000,[]
2019-04-18 04:00:00,CLN,0,0,0.000,2.540000,[]
2019-04-18 16:00:00,CLN,0,0,0.000,0.000000,[]
2019-04-19 04:00:00,CLN,0,0,0.000,2.540000,[]
2019-04-19 16:00:00,CLN,0,0,0.000,0.000000,[]
2019-04-20 04:00:00,CLN,0,0,0.000,0.000000,[]
2019-04-20 16:00:00,CLN,0,0,0.000,0.000000,[]
2019-04-21 04:00:00,CLN,5.588,25.4,1.270,0.000000,[]
2019-04-21 16:00:00,CLN,2.794,25.4,4.572,5.080000,"[2019-04-21T09:00:00.000000000, 2019-04-21T10:..."
2019-04-22 04:00:00,CLN,0.762,0,2.794,0.000000,[]
2019-04-22 16:00:00,CLN,2.032,0,0.000,0.000000,[]
2019-04-23 04:00:00,CLN,0,0,1.270,0.000000,[]
2019-04-23 16:00:00,CLN,0,0,0.000,0.000000,[]
2019-04-24 04:00:00,CLN,0,0,0.000,0.000000,[]
2019-04-24 16:00:00,CLN,0,0,0.000,0.000000,[]
2019-04-25 04:00:00,CLN,1.27,0,1.270,0.000000,[]
2019-04-25 16:00:00,CLN,0,0,0.000,0.000000,[]
2019-04-26 04:00:00,CLN,0,0,0.000,0.000000,[]
2019-04-26 16:00:00,CLN,2.032,0,0.000,0.000000,[]
2019-04-27 04:00:00,CLN,6.35,0,8.382,0.000000,[]
2019-04-27 16:00:00,CLN,0,0,0.000,0.000000,[]
2019-04-28 04:00:00,CLN,0,0,0.000,0.000000,[]
2019-04-28 16:00:00,CLN,0,0,0.000,0.000000,[]
2019-04-29 04:00:00,CLN,0,0,0.000,0.000000,[]
2019-04-29 16:00:00,CLN,0,0,0.000,0.000000,[]
2019-04-30 04:00:00,CLN,1.016,12.7,0.000,0.000000,[]
2019-04-30 16:00:00,CLN,4.826,38.1,0.762,0.000000,[]
2019-05-01 04:00:00,CLN,17.78,165.1,17.018,73.659996,"[2019-04-30T20:00:00.000000000, 2019-04-30T21:..."