In [1]:
import pandas as pd
import numpy as np

from glob import glob
from datetime import datetime

In [2]:
obdir = '/uufs/chpc.utah.edu/common/home/steenburgh-group10/mewessler/observations/'

In [3]:
flist = glob(obdir + 'clean/*.pd')
for f in flist:
    print(f)

/uufs/chpc.utah.edu/common/home/steenburgh-group10/mewessler/observations/clean/CLN_1999_2019.pd
/uufs/chpc.utah.edu/common/home/steenburgh-group10/mewessler/observations/clean/ALTA_1944_2020.pd
/uufs/chpc.utah.edu/common/home/steenburgh-group10/mewessler/observations/clean/AGD_2004_2019.pd
/uufs/chpc.utah.edu/common/home/steenburgh-group10/mewessler/observations/clean/BCC_2004_2019.pd
/uufs/chpc.utah.edu/common/home/steenburgh-group10/mewessler/observations/clean/SLB_1915_2020.pd
/uufs/chpc.utah.edu/common/home/steenburgh-group10/mewessler/observations/clean/PVC_2005_2019.pd
/uufs/chpc.utah.edu/common/home/steenburgh-group10/mewessler/observations/clean/CLNX_1999_2019.pd

In [4]:
obs = []

for f in flist:
    site = f.split('/')[-1].split('_')[0]
    print('Aggregating %s'%site)
    
    df = pd.read_pickle(f)
    df['site'] = np.full(df.index.size, fill_value=site, dtype='U10')
    
    # We can put these back later 
    df = df.drop(columns=[k for k in df.keys() if ('auto' in k)|('depth' in k)])
    
    obs.append(df.set_index([df.index, 'site']).sort_index())

obs = pd.concat(obs, sort=True).sort_index()

# We can put these back later 
periods = pd.DataFrame(obs.pop('precip_periods'))
obs.insert(obs.shape[1], 'precip_periods', periods)

print('\n', obs.shape)
obs[-1020:-1000]

Aggregating CLN
Aggregating ALTA
Aggregating AGD
Aggregating BCC
Aggregating SLB
Aggregating PVC
Aggregating CLNX

 (97297, 11)

                              slr12      slr24    snow12_mm   snow24_mm  \
                    site
2019-04-10 09:00:00 CLNX  11.030689        NaN   381.000000         NaN
2019-04-10 10:00:00 AGD   11.818182  11.454546   330.200012  640.080017
                    BCC    9.093079   8.392070    76.199997  304.799988
2019-04-10 11:00:00 ALTA        NaN   8.490251          NaN  457.200000
2019-04-10 21:00:00 CLN    9.459459        NaN   177.800003         NaN
                    CLNX   9.457447        NaN   177.800003         NaN
2019-04-10 22:00:00 AGD    7.973094  10.210790   160.020004  490.220001
2019-04-10 23:00:00 BCC    9.726477   9.418140    88.900002  165.100006
2019-04-11 01:00:00 PVC   12.491803  12.491803    38.099998   38.099998
2019-04-11 09:00:00 CLN    7.407407        NaN   152.399994         NaN
                    CLNX   7.408848        NaN   152.399994         NaN
2019-04-11 10:00:00 AGD   11.768339   9.384615   152.399994  309.880005
                    BCC    1.000000   9.726477 -2514.600098   88.900002
2019-04-11 11:00:00 ALTA        NaN   8.023367          NaN  185.420000
2019-04-11 21:00:00 CLN         NaN        NaN     0.000000         NaN
                    CLNX        NaN        NaN     0.000000         NaN
2019-04-11 23:00:00 BCC   15.000000  15.000000    76.199997   76.199997
2019-04-12 09:00:00 AGD    3.155279  12.327838    15.240000  134.619995
                    CLN   19.354839        NaN   152.399994         NaN
                    CLNX  19.364676        NaN   152.399994         NaN

                             swe12_mm   swe24_mm  tsfc_degC  tsfc_max_c  \
                    site
2019-04-10 09:00:00 CLNX    34.540001        NaN        NaN         NaN
2019-04-10 10:00:00 AGD     27.940001  55.880001        NaN         NaN
                    BCC      8.380000  36.320000        NaN         NaN
2019-04-10 11:00:00 ALTA          NaN  53.850000      -5.00         NaN
2019-04-10 21:00:00 CLN     18.796000        NaN        NaN       -6.11
                    CLNX    18.799999        NaN        NaN         NaN
2019-04-10 22:00:00 AGD     20.070000  48.009998        NaN         NaN
2019-04-10 23:00:00 BCC      9.140000  17.530001        NaN         NaN
2019-04-11 01:00:00 PVC      3.050000   3.050000        NaN         NaN
2019-04-11 09:00:00 CLN     20.573999        NaN        NaN       -6.11
                    CLNX    20.570000        NaN        NaN         NaN
2019-04-11 10:00:00 AGD     12.950000  33.020000        NaN         NaN
                    BCC  -2514.600098   9.140000        NaN         NaN
2019-04-11 11:00:00 ALTA          NaN  23.110000      -5.56         NaN
2019-04-11 21:00:00 CLN      0.000000        NaN        NaN       -5.00
                    CLNX     0.000000        NaN        NaN         NaN
2019-04-11 23:00:00 BCC      5.080000   5.080000        NaN         NaN
2019-04-12 09:00:00 AGD      4.830000  10.920000        NaN         NaN
                    CLN      7.874000        NaN        NaN       -4.44
                    CLNX     7.870000        NaN        NaN         NaN

                          tsfc_max_degC  tsfc_min_degC  \
                    site
2019-04-10 09:00:00 CLNX            NaN            NaN
2019-04-10 10:00:00 AGD           -3.89          -6.11
                    BCC           -1.67          -3.33
2019-04-10 11:00:00 ALTA          -2.22          -6.67
2019-04-10 21:00:00 CLN             NaN            NaN
                    CLNX            NaN            NaN
2019-04-10 22:00:00 AGD           -4.44          -6.11
2019-04-10 23:00:00 BCC           -2.22          -2.78
2019-04-11 01:00:00 PVC            1.11          -2.22
2019-04-11 09:00:00 CLN             NaN            NaN
                    CLNX            NaN            NaN
2019-04-11 10:00:00 AGD           -3.89          -7.22
                    BCC           -0.56          -3.89
2019-04-11 11:00:00 ALTA          -4.44          -7.22
2019-04-11 21:00:00 CLN             NaN            NaN
                    CLNX            NaN            NaN
2019-04-11 23:00:00 BCC           -0.56          -6.67
2019-04-12 09:00:00 AGD            1.67          -7.78
                    CLN             NaN            NaN
                    CLNX            NaN            NaN

                                                             precip_periods
                    site
2019-04-10 09:00:00 CLNX                                                 []
2019-04-10 10:00:00 AGD                                                  []
                    BCC                                                  []
2019-04-10 11:00:00 ALTA                                                 []
2019-04-10 21:00:00 CLN   [2019-04-10T16:00:00.000000000, 2019-04-10T17:...
                    CLNX                                                 []
2019-04-10 22:00:00 AGD                                                  []
2019-04-10 23:00:00 BCC                                                  []
2019-04-11 01:00:00 PVC                                                  []
2019-04-11 09:00:00 CLN   [2019-04-11T04:00:00.000000000, 2019-04-11T05:...
                    CLNX                                                 []
2019-04-11 10:00:00 AGD                                                  []
                    BCC                                                  []
2019-04-11 11:00:00 ALTA                                                 []
2019-04-11 21:00:00 CLN   [2019-04-11T18:00:00.000000000, 2019-04-11T19:...
                    CLNX                                                 []
2019-04-11 23:00:00 BCC                                                  []
2019-04-12 09:00:00 AGD                                                  []
                    CLN   [2019-04-12T12:00:00.000000000, 2019-04-12T13:...
                    CLNX                                                 []

In [5]:
obs.to_pickle(obdir + 'aggregate/WESTUS_ALL.uncut.pd')

In [6]:
# Note the ERA5 starts in 1980 - cut there
obs_cut = obs[obs.index.get_level_values(0) > datetime(1980, 1, 1, 0, 0)]

print(obs_cut.shape)
obs_cut[-1020:-1000]

(69108, 11)

                              slr12      slr24    snow12_mm   snow24_mm  \
                    site
2019-04-10 09:00:00 CLNX  11.030689        NaN   381.000000         NaN
2019-04-10 10:00:00 AGD   11.818182  11.454546   330.200012  640.080017
                    BCC    9.093079   8.392070    76.199997  304.799988
2019-04-10 11:00:00 ALTA        NaN   8.490251          NaN  457.200000
2019-04-10 21:00:00 CLN    9.459459        NaN   177.800003         NaN
                    CLNX   9.457447        NaN   177.800003         NaN
2019-04-10 22:00:00 AGD    7.973094  10.210790   160.020004  490.220001
2019-04-10 23:00:00 BCC    9.726477   9.418140    88.900002  165.100006
2019-04-11 01:00:00 PVC   12.491803  12.491803    38.099998   38.099998
2019-04-11 09:00:00 CLN    7.407407        NaN   152.399994         NaN
                    CLNX   7.408848        NaN   152.399994         NaN
2019-04-11 10:00:00 AGD   11.768339   9.384615   152.399994  309.880005
                    BCC    1.000000   9.726477 -2514.600098   88.900002
2019-04-11 11:00:00 ALTA        NaN   8.023367          NaN  185.420000
2019-04-11 21:00:00 CLN         NaN        NaN     0.000000         NaN
                    CLNX        NaN        NaN     0.000000         NaN
2019-04-11 23:00:00 BCC   15.000000  15.000000    76.199997   76.199997
2019-04-12 09:00:00 AGD    3.155279  12.327838    15.240000  134.619995
                    CLN   19.354839        NaN   152.399994         NaN
                    CLNX  19.364676        NaN   152.399994         NaN

                             swe12_mm   swe24_mm  tsfc_degC  tsfc_max_c  \
                    site
2019-04-10 09:00:00 CLNX    34.540001        NaN        NaN         NaN
2019-04-10 10:00:00 AGD     27.940001  55.880001        NaN         NaN
                    BCC      8.380000  36.320000        NaN         NaN
2019-04-10 11:00:00 ALTA          NaN  53.850000      -5.00         NaN
2019-04-10 21:00:00 CLN     18.796000        NaN        NaN       -6.11
                    CLNX    18.799999        NaN        NaN         NaN
2019-04-10 22:00:00 AGD     20.070000  48.009998        NaN         NaN
2019-04-10 23:00:00 BCC      9.140000  17.530001        NaN         NaN
2019-04-11 01:00:00 PVC      3.050000   3.050000        NaN         NaN
2019-04-11 09:00:00 CLN     20.573999        NaN        NaN       -6.11
                    CLNX    20.570000        NaN        NaN         NaN
2019-04-11 10:00:00 AGD     12.950000  33.020000        NaN         NaN
                    BCC  -2514.600098   9.140000        NaN         NaN
2019-04-11 11:00:00 ALTA          NaN  23.110000      -5.56         NaN
2019-04-11 21:00:00 CLN      0.000000        NaN        NaN       -5.00
                    CLNX     0.000000        NaN        NaN         NaN
2019-04-11 23:00:00 BCC      5.080000   5.080000        NaN         NaN
2019-04-12 09:00:00 AGD      4.830000  10.920000        NaN         NaN
                    CLN      7.874000        NaN        NaN       -4.44
                    CLNX     7.870000        NaN        NaN         NaN

                          tsfc_max_degC  tsfc_min_degC  \
                    site
2019-04-10 09:00:00 CLNX            NaN            NaN
2019-04-10 10:00:00 AGD           -3.89          -6.11
                    BCC           -1.67          -3.33
2019-04-10 11:00:00 ALTA          -2.22          -6.67
2019-04-10 21:00:00 CLN             NaN            NaN
                    CLNX            NaN            NaN
2019-04-10 22:00:00 AGD           -4.44          -6.11
2019-04-10 23:00:00 BCC           -2.22          -2.78
2019-04-11 01:00:00 PVC            1.11          -2.22
2019-04-11 09:00:00 CLN             NaN            NaN
                    CLNX            NaN            NaN
2019-04-11 10:00:00 AGD           -3.89          -7.22
                    BCC           -0.56          -3.89
2019-04-11 11:00:00 ALTA          -4.44          -7.22
2019-04-11 21:00:00 CLN             NaN            NaN
                    CLNX            NaN            NaN
2019-04-11 23:00:00 BCC           -0.56          -6.67
2019-04-12 09:00:00 AGD            1.67          -7.78
                    CLN             NaN            NaN
                    CLNX            NaN            NaN

                                                             precip_periods
                    site
2019-04-10 09:00:00 CLNX                                                 []
2019-04-10 10:00:00 AGD                                                  []
                    BCC                                                  []
2019-04-10 11:00:00 ALTA                                                 []
2019-04-10 21:00:00 CLN   [2019-04-10T16:00:00.000000000, 2019-04-10T17:...
                    CLNX                                                 []
2019-04-10 22:00:00 AGD                                                  []
2019-04-10 23:00:00 BCC                                                  []
2019-04-11 01:00:00 PVC                                                  []
2019-04-11 09:00:00 CLN   [2019-04-11T04:00:00.000000000, 2019-04-11T05:...
                    CLNX                                                 []
2019-04-11 10:00:00 AGD                                                  []
                    BCC                                                  []
2019-04-11 11:00:00 ALTA                                                 []
2019-04-11 21:00:00 CLN   [2019-04-11T18:00:00.000000000, 2019-04-11T19:...
                    CLNX                                                 []
2019-04-11 23:00:00 BCC                                                  []
2019-04-12 09:00:00 AGD                                                  []
                    CLN   [2019-04-12T12:00:00.000000000, 2019-04-12T13:...
                    CLNX                                                 []

In [7]:
obs_cut.to_pickle(obdir + 'aggregate/WESTUS_ALL.pd')