In [14]:
from subprocess import Popen, PIPE

import numpy as np
import pandas as pd
import xarray as xr

from glob import glob
from os.path import isfile
from datetime import datetime, timedelta

import seaborn as sns
import matplotlib.pyplot as plt

In [15]:
obdir = '/uufs/chpc.utah.edu/common/home/steenburgh-group10/mewessler/observations/'

site_list = np.array([f.split('/')[-1].split('_')[0] for f in glob(obdir + '*.csv') if 'AUTO' not in f])
site_list = np.unique(site_list[np.argsort(site_list)])

# Dictionary builder (print blank entry)
for s in ['SITE']:
    print("'%s':{\n\t'header':[],\n\t'rename':[],\n\t'units':[],\n\t'tzinfo':None,\n\t'tfmt':['', ''],\n\t'tfix':None,\n\t'tshift':None,\n\t'auto_site':''\n},"%s)

'SITE':{
	'header':[],
	'rename':[],
	'units':[],
	'tzinfo':None,
	'tfmt':['', ''],
	'tfix':None,
	'tshift':None,
	'auto_site':''
},

In [36]:
file_info = {
    'CLNX':{
        'header':['DATE', 'SNOW', 'SWE', 'DEPTH24', 'SNOW24', 'SWE24'],
        'rename':['datetime', 'snow12', 'swe12', 'depth24', 'snow24', 'swe24'],
        'units':[None, 'in', 'in', 'in', 'in', 'in'],
        'tzinfo':-7,
        'tfmt':['%Y%m%d%H%M'],
        'tfix':None,
        'tshift':None,
        'auto_site':'CLN',
    },
}

#### Import the manual observations

In [70]:
site = 'CLNX'

finfo = file_info[site]

f = glob(obdir + '%s*.csv'%site)[0]

data_raw = pd.read_csv(f, low_memory=False)

for old, new, unit in zip(finfo['header'], finfo['rename'], finfo['units']):
    if new is not None:
        new = new+'_%s'%unit if unit is not None else new
        data_raw = data_raw.rename(columns={old:new})
        
        if unit is not None:
            data_raw[new] = data_raw[new].astype(np.float32)
            
    else:
        data_raw = data_raw.drop(columns=old)
                
if finfo['tfix'] is not None:
    data_raw['datetime'] = [datetime.strptime(t, finfo['tfmt'])+timedelta(hours=finfo['tfix']) for t in data_raw['date']]
    
elif len(finfo['tfmt']) == 2:
    data_raw['time'] = data_raw['time'].astype(str)
    tfmt = ' '.join(finfo['tfmt'])
    data_raw['datetime'] = [datetime.strptime(' '.join(dt), tfmt) for dt in zip(data_raw['date'], data_raw['time'])]
    data_raw['datetime'] = [d+timedelta(minutes=60-d.minute) 
                            if d.minute > 30 else d-timedelta(minutes=d.minute) for d in data_raw['datetime']]
    
elif len(finfo['tfmt']) == 1:
    data_raw['datetime'] = [datetime.strptime(str(t), finfo['tfmt'][0]) for t in data_raw['datetime']]

# If we are going to attempt to assign tzinfo and parse ST vs DT, do it here and now
# For now this is timezone-naive
# Convert to UTC
data_raw['datetime_utc'] = data_raw['datetime'] + timedelta(hours=finfo['tzinfo'])

# Clean things up
data_raw = data_raw.set_index('datetime_utc')
data_raw = data_raw.sort_index()
data_raw = data_raw.drop(columns=[k for k in data_raw.keys() if (('date' in k)|('time' in k))])
    
in_mm = 25.4
cm_mm = 10
m_mm = 1000

for k in data_raw.keys():
    
    data_raw[k] = data_raw[k].replace(-999, np.nan)
    
    if k[-3:] == '_in':
        data_raw[k] *= in_mm
        data_raw = data_raw.rename(columns={k:k.replace('_in', '_mm')}).round(2)
    elif k[-3:] == '_cm':
        data_raw[k] *= cm_mm
        data_raw = data_raw.rename(columns={k:k.replace('_cm', '_mm')}).round(2)
    elif k[-2:] == '_m':
        data_raw[k] *= m_mm
        data_raw = data_raw.rename(columns={k:k.replace('_m', '_mm')}).round(2)
    elif k[-5:] == '_degF':
        data_raw[k] = (data_raw[k] - 32) * (5 / 9)
        data_raw = data_raw.rename(columns={k:k.replace('_degF', '_degC')}).round(2)
        
intervals = [k.split('_')[0].replace('snow', '') for k in data_raw.keys() if ('snow' in k)]
for i in intervals:
    data_raw.insert(0, 'slr'+i, np.round(data_raw['snow%s_mm'%i]/data_raw['swe%s_mm'%i], 2))
    data_raw['slr'+i][np.isinf(data_raw['slr'+i])] = np.nan

# Ensure data is typecast properly
data_raw = data_raw.fillna(np.nan)
for k in data_raw.keys():
    try:
        data_raw[k] = data_raw[k].astype(np.float32)
    except:
        pass
    
print(data_raw.shape)
data_raw = data_raw.dropna(how='all')
print(data_raw.shape)

data_raw

(13002, 7)
(12818, 7)

,slr24,slr12,snow12_mm,swe12_mm,depth24_mm,snow24_mm,swe24_mm
datetime_utc,,,,,,,
1999-11-01 09:00:00,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
1999-11-01 21:00:00,NaN,NaN,0.000000,0.000000,101.599998,0.000000,0.000000
1999-11-02 09:00:00,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
1999-11-02 21:00:00,NaN,NaN,0.000000,0.000000,101.599998,0.000000,0.000000
1999-11-03 09:00:00,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
1999-11-03 21:00:00,NaN,NaN,0.000000,0.000000,101.599998,0.000000,0.000000
1999-11-04 09:00:00,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
1999-11-04 21:00:00,NaN,NaN,0.000000,0.000000,101.599998,0.000000,0.000000
1999-11-05 09:00:00,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
1999-11-05 21:00:00,NaN,NaN,0.000000,0.000000,101.599998,0.000000,0.000000
1999-11-06 09:00:00,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
1999-11-06 21:00:00,NaN,NaN,0.000000,0.000000,101.599998,0.000000,0.000000
1999-11-07 09:00:00,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
1999-11-07 21:00:00,NaN,NaN,0.000000,0.000000,76.199997,0.000000,0.000000
1999-11-08 09:00:00,NaN,10.0,101.599998,10.670000,NaN,NaN,NaN
1999-11-08 21:00:00,10.0,NaN,0.000000,0.000000,76.199997,101.599998,10.670000
1999-11-09 09:00:00,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
1999-11-09 21:00:00,NaN,NaN,0.000000,0.000000,152.399994,0.000000,0.000000
1999-11-10 09:00:00,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
1999-11-10 21:00:00,NaN,NaN,0.000000,0.000000,127.000000,0.000000,0.000000
1999-11-11 09:00:00,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
1999-11-11 21:00:00,NaN,NaN,0.000000,0.000000,101.599998,0.000000,0.000000
1999-11-12 09:00:00,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
1999-11-12 21:00:00,NaN,NaN,0.000000,0.000000,101.599998,0.000000,0.000000
1999-11-13 09:00:00,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
1999-11-13 21:00:00,NaN,NaN,0.000000,0.000000,101.599998,0.000000,0.000000
1999-11-14 09:00:00,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
1999-11-14 21:00:00,NaN,NaN,0.000000,0.000000,101.599998,0.000000,0.000000
1999-11-15 09:00:00,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
1999-11-15 21:00:00,NaN,NaN,0.000000,0.000000,101.599998,0.000000,0.000000
...,...,...,...,...,...,...,...
2019-04-16 09:00:00,NaN,8.0,25.400000,3.300000,NaN,NaN,NaN
2019-04-16 21:00:00,9.0,9.0,177.800003,20.070000,NaN,203.199997,23.370001
2019-04-17 09:00:00,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
2019-04-17 21:00:00,NaN,NaN,0.000000,0.000000,NaN,0.000000,0.000000
2019-04-18 09:00:00,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
2019-04-18 21:00:00,NaN,NaN,0.000000,0.000000,4368.799805,0.000000,0.000000
2019-04-19 09:00:00,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
2019-04-19 21:00:00,NaN,NaN,0.000000,0.000000,4216.399902,0.000000,0.000000
2019-04-20 09:00:00,NaN,5.0,25.400000,5.590000,NaN,NaN,NaN
2019-04-20 21:00:00,5.0,NaN,0.000000,0.000000,4089.399902,25.400000,5.590000
2019-04-21 09:00:00,NaN,0.0,0.000000,0.760000,NaN,NaN,NaN
2019-04-21 21:00:00,7.0,9.0,25.400000,2.790000,4089.399902,25.400000,3.560000
2019-04-22 09:00:00,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
2019-04-22 21:00:00,0.0,0.0,0.000000,2.030000,4013.199951,0.000000,2.030000
2019-04-23 09:00:00,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
2019-04-23 21:00:00,NaN,NaN,0.000000,0.000000,3962.399902,0.000000,0.000000
2019-04-24 09:00:00,NaN,0.0,0.000000,1.270000,NaN,NaN,NaN
2019-04-24 21:00:00,0.0,NaN,0.000000,0.000000,3810.000000,0.000000,1.270000
2019-04-25 09:00:00,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
2019-04-25 21:00:00,NaN,NaN,0.000000,0.000000,3733.800049,0.000000,0.000000
2019-04-26 09:00:00,NaN,0.0,0.000000,6.350000,NaN,NaN,NaN
2019-04-26 21:00:00,0.0,0.0,0.000000,2.030000,3733.800049,0.000000,8.380000
2019-04-27 09:00:00,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
2019-04-27 21:00:00,NaN,NaN,0.000000,0.000000,3581.399902,0.000000,0.000000
2019-04-28 09:00:00,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
2019-04-28 21:00:00,NaN,NaN,0.000000,0.000000,3556.000000,0.000000,0.000000
2019-04-29 09:00:00,NaN,12.0,12.700000,1.020000,NaN,NaN,NaN
2019-04-29 21:00:00,12.0,NaN,0.000000,0.000000,3530.600098,12.700000,1.020000
2019-04-30 09:00:00,NaN,9.0,165.100006,17.780001,NaN,NaN,NaN
2019-04-30 21:00:00,9.0,8.0,38.099998,4.830000,3530.600098,203.199997,22.610001

#### Use the automated data as a baseline/sanity check
Data is obtained from mesowest API - May use the timeseries or precipitation service<br>
https://developers.synopticdata.com/mesonet/v2/stations/timeseries/<br>
https://developers.synopticdata.com/mesonet/v2/stations/precipitation/<br>
To save long records, will need to access as csv format not json

#### Isolate precipitating (snow) periods

#### Resample the hourlies to match the 12h

In [ ]:
data_all = data_raw

#### Ensure that the data isn't mislabeled by plotting/visualizing segments
These should be correct, but check that the beginning of period isn't labeled instead of end, etc.<br>
A time-shift correction can be applied if needed. Keep in mind the automated data will likely <br>
underreport vs the manual observations so consider the timing more than event size

In [ ]:
time_shift = finfo['tshift'] if finfo['tshift'] is not None else 0

for i in [intervals[-1]]:
    snowkey = 'snow%s_mm'%i
    swekey = 'swe%s_mm'%i

    fig, axs = plt.subplots(3, 1, figsize=(20, 12), facecolor='w')
    
    d0 = datetime(2018, 9, 1, 0, 0)
    d1 = datetime(2019, 6, 1, 0, 0)
    mask = ((data_all.index > d0) & (data_all.index <= d1) & 
           (data_all[swekey] > 0.) & (data_all[snowkey] > 0.))
    
    axs[0].set_title('%s SWE%s'%(site, i))

    axs[0].plot(data_all.loc[mask].index + timedelta(hours=time_shift), data_all.loc[mask, swekey], color='C0')
    axs[0].scatter(data_all.loc[mask].index + timedelta(hours=time_shift), data_all.loc[mask, swekey], 
                   marker='*', s=150, linewidth=0.5, color='C0')

    # axs[0].plot(data_all.loc[mask].index, data_all.loc[mask, 'swe_auto_mm'], color='C1')
    # axs[0].scatter(data_all.loc[mask].index, data_all.loc[mask, 'swe_auto_mm'], 
    #                marker='*', s=150, linewidth=0.5, color='C1')

    axs[1].set_title('%s SNOW%s'%(site, i))

    axs[1].plot(data_all.loc[mask].index + timedelta(hours=time_shift), data_all.loc[mask, snowkey], color='C0')
    axs[1].scatter(data_all.loc[mask].index + timedelta(hours=time_shift), data_all.loc[mask, snowkey], 
                   marker='*', s=150, linewidth=0.5, color='C0')

    # axs[1].plot(data_all.loc[mask].index, data_all.loc[mask, 'snow_auto_mm'], color='C1')
    # axs[1].scatter(data_all.loc[mask].index, data_all.loc[mask, 'snow_auto_mm'], 
    #                marker='*', s=150, linewidth=0.5, color='C1')

    axs[2].set_title('%s SLR%s'%(site, i))

    axs[2].scatter(data_all.loc[mask].index + timedelta(hours=time_shift), data_all.loc[mask, snowkey]/data_all.loc[mask, swekey], 
                   marker='*', s=150, linewidth=0.5, color='C0', label='slr')
    # axs[2].scatter(data_all.loc[mask].index + timedelta(hours=time_shift), data_all.loc[mask, 'snow_auto_mm']/data_all.loc[mask, 'swe_auto_mm'], 
    #                marker='*', s=150, linewidth=0.5, color='C1', label='slr_auto')

    axs[2].set_ylim([0, 50])

    for ax in axs:
        ax.set_xlim([d0, d1])
        ax.legend()
        ax.grid()

    plt.show()

#### Apply the time shift (if any) permanantly and save out (to netCDF or .pd?)

#### Save out the precip periods with the dataset (merge column)

In [ ]:
if 'precip_periods' not in data_all.keys():
    data_all['precip_periods'] = np.full(data_all.shape[0], fill_value='[]')

In [ ]:
data_save = data_all

In [ ]:
data_save_file = f.split('/')[-1].replace('.csv', '.pd')
print('Saving %s'%data_save_file)

data_save.to_pickle(obdir + 'clean/' + data_save_file)